span.error-message {
	color: #fe2600;
}


.enter_button {
	background: #2651a8;
	border-radius: 6px;
	color: rgba(255,255,255,1);
	padding: 1em 1.5em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8em;
	color: rgba(255,255,255,0.80);
	cursor: pointer;
}

#three-column .title h2.error {
	color:red;
}

.error {
	color:red;
}

div.content {
	width: 100%;
	text-align: center;
}

span.simple_text {
	color: #000000;
}

form.logout {
	display:inline-block;
	float: right;
}
	
#box {
	border: 1px solid rgba(0,0,0,.5);
}

.boxB div.list {
	padding-left: 20px;
	padding-top: 10px;
}

.boxB div.list ul {
	color: #2651a8;
}
.boxB div.list a {
	color: #2651a8;
}

.boxB div.list li {
	padding: 4px;
}

input.logout {
	background: transparent;
	border: 0px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 12pt;
	font-weight: 200;
	color: rgba(255,255,255,0.80);
	cursor:pointer;
}

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: rgba(255,255,255,0.80);
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: #2651a8;
  background: #2651a8;
  background: #2651a8;
  border-bottom: 2px solid #444444;
}
table.blueTable thead tr td {
	color: #FFFFFF;
}

table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

#information-user {
	margin-bottom: 65px;
}

#information-user .information {
	font-weight:bold;
	font-size:30px;
	color: black;
	font-style:italic;
	margin-bottom:10px;
}

#information-user .underline {
	text-decoration: underline;
}
	
#information-user .first-line {
	margin-bottom: 5px;
	font-size: 30px;
    color: black;
    font-weight: bold;
}

#information-user ul li{
	color: red;
	margin-bottom:5px;

}

#information-user ul li .list-information {
	font-weight:bold;
}

div .list ul li a{
	color: #2651a8;
	font-size:20px;
	margin-bottom:8px;
}

div .list ul li {
	margin-bottom:8px;
}

div h3.sub-information {
	color:black;
	font-weight:bold;
	font-size:20px;
	margin-bottom:10px;
}

.erroreLogin{
	font-size:20px;
	color:red;
	font-weight:bold;
	border-bottom:2px solid black;
}